@media screen and (max-width: 999px) {


@font-face {
    font-family: Dosis;
    src: url("../font/Dosis/Dosis-VariableFont_wght.ttf");
}
    
@font-face {
    font-family: FuzzyBubbles;
    src: url("../font/FuzzyBubbles/FuzzyBubbles-Regular.ttf");
}
    
@font-face {
    font-family: MeowScript;
    src: url("../font/MeowScript/MeowScript-Regular.ttf");
}

body {
    min-width: 500px;
    max-width: 1299px;
    background-image: url("../images/old/background.jpg");
    background-repeat: repeat;
}

html {
    border: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*Buttons*/
/* White Button */
.btn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: white;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    text-decoration: none;
    font-family: Dosis;
    color: black;
    box-shadow: 0 0 45px rgba(49, 68, 109, 0.541);
  }

  .btn:after, .btn:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }
  .btn:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
  }
  .btn:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
  }
  .btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }
  .btn:hover:before, .btn:hover:after {
    width: 100%;
    height: 100%;
  }
/* White Button End */
/* Black Button */
.btnb {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    background: black;
    font-size: 20px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
    text-decoration: none;
    font-family: Dosis;
    color: whitesmoke;
    box-shadow: 10px 10px rgba(49, 70, 109, 0.541);
    margin: 1%;
  }

.btnb:after, .btnb:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid whitesmoke;
    transition: all 1s;
}

.btnb:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid whitesmoke;
    border-left: 5px solid whitesmoke;
}

.btnb:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
}

.btnb:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btnb:hover:before, .btnb:hover:after {
    width: 100%;
    height: 100%;
}
/*Black Button End */
/*Button End*/


.s1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: MeowScript;
    font-size: 30px;
    padding-top: 15px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: black;
    height: 145px;
   
}

.s2 {
    display: none;
}

.fp2 {
    display: none;
}

.fp1 {
    display: none;
}

.fp3 {
    display: none;
    visibility: hidden;
}

.fp4 {
    display: none;
}

.si {
    display: none;
}

.s5ser {
    display: none;
}
.s6p1 {
    display: none;
}

.s6p2 {
    display: none;
}

.s5pics{
    display: none;
}
.cbi {
    width: 400px;
    height: auto;
    border-radius: 45px;
    margin-top: 8%;
}


.rm {
    padding: 0;
    margin: 0;
    color: whitesmoke;
    text-shadow: 5px 5px rgba(53, 92, 53, 0.425);
    margin-right: 2%;
    font-size: 40px;
}

.mh {
    padding-right: 2%;
}

.sc {
    padding-left: 175px;
    margin-top: -15px;
}

.rbr {
    margin-top: -35px;
    margin-left: -120px;
}

.mm {
    margin-left: 100px;
    margin-top: -20px;
}

.s3 {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 2%;
    margin-top: 3%;
    align-items: center;
    text-align: center;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    
}

h3{
    text-align: center;
    text-decoration: underline solid grey;
    font-family: MeowScript;
    font-size: 35px;
}

.hd1 {
    text-align: justify;
    min-width: 375px;
    max-width: 700px;
    margin: 25px;
    font-size: 20px;
    font-family: Dosis;
    margin-bottom: 8%;
}

.hd2 {
    font-family: Dosis;
    min-width: 450px;
    max-width: 650px;
    font-size: 20px;
    padding: 25px;
    margin-top: -50px;
    text-align: justify;
}

.s4 {
    padding: 25px;
    background-color: black;
    color: whitesmoke;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
}

.s4p {
    margin: 2px;
    font-family: Dosis;
    min-width: 375px;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 25px;
    text-align: justify;
}

h4 {
    text-decoration: underline solid grey;
    font-family: MeowScript;
    font-size: 50px;
    padding: 0;
    margin: 0;
}

.s4bdiv {
    display: flex;
    column-gap: 100px;
    justify-content: center;
    padding-top: 50px;
}

.s5 {
    margin: 0 auto;
    background-color: whitesmoke;
    margin-top: 25px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;

}

h5 {
    text-align: center;
    font-family: MeowScript;
    font-size: 45px;
    padding: 0;
    margin: 0;
    margin-top: -25px;
}

.s5p {
    text-align: justify;
    font-family: Dosis;
    font-weight: bold;
    margin: 0 auto;
}

.s5c {
    margin: 10px;
    width: 300px;
    margin: 0 auto;
    margin-top: 4%;
}   

.sob1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.s5sp {
    font-family: Dosis;
    margin: 2%;
    padding-bottom: 5%;
    text-align: justify;
    font-size: 25px;
}

.s5pi {
    font-family: Dosis;
    font-size: 25px;
    margin: 2%;
}

.tp {
    min-height: 500px;
}

.s5pic {
    display:none;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 25px;
}

.tabs input[type="radio"] {
    display: none;
}

.tabs label {
    font-weight: bold;
    font-style: italic;
    text-align: center;
    cursor: pointer;
    width: 150px;
    list-style-type: none;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-family: Dosis;
    padding: 15px;
    font-size: 16px;
    color: black;
    margin: 2%;
}

.tabs label:after, .tabs label:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all .8s;
}

.tabs label:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}

.tabs label:after {
    top: -1px;
    left: -1px;
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.tabs label:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.tabs label:hover:before, .tabs label:hover:after {
    width: 100%;
    height: 100%;
}

.tabs .content {
    width: 100%;
    order: 1;
    display: none;
}

.tabs input[type="radio"]:checked + label + .content {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: justify;
}

.tabs input[type="radio"]:checked + label {
    padding-bottom: 4px;

}


.content {
    padding: 5%;
    text-align: justify;
    margin: 2%;
    box-shadow: 0 0 45px rgba(190, 141, 141, 0.315);
    border-radius: 25px;
    min-height: 275px;
}

.s6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    color: whitesmoke;
    margin-top: 25px;
    padding: 2%;
    text-align: center;
    justify-content: space-around;
}

.s6p {
    text-align: justify;
    padding: 5%;
    font-family: Dosis;
}

.bs {
    margin-bottom: 4%;

}

h6 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 25px;
    font-family: MeowScript;
}

}



