/*****************Body,HTML ************************/
body, html {
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 555px;
  min-width: 900px;
  overflow: visible;
}
#Home {background-image:url(../images/Bg_CM_1-S.jpg);
    background-size: cover;
    background-repeat: no-repeat;}
#News {background-image:url(../images/Bg_CM_2-S.jpg);
    background-repeat: no-repeat;
    background-size: cover;}
#Contact {background-image:url(../images/Bg_CD-S.jpg);
    background-repeat: no-repeat;
    background-size: cover;}
#About {background-image:url(../images/Bg_CT-S.jpg);
    background-repeat: no-repeat;
    background-size: cover;}

.ga-1 { grid-area: service1; }
.ga-2 { grid-area: service2; }
.ga-3 { grid-area: link; }
    
.gc-main {
    display: grid;
    grid-template-areas: 
    'service1 service2'
    'service1 service2'
    'link link';
    grid-gap: 10px;
    background-color: wheat;
    border-radius: 25px;
    text-align: Left;
}
    
.grid-main > div {
    background-color: darkslategrey;
    text-align: left;
}
    
@font-face {
    font-family: "My Font";
        src: url(../Font/ZenOldMincho-Regular.ttf);
}


/**************** Style tab links *******************/
.tablink {
  background-color:transparent;
  /* margin-top: 10%; */
  color: white;
  float: left;
  border: black;
  box-sizing: border-box;
  border-style: double;
  outline: black;
  outline-style: groove;
  cursor: pointer;
  font-size: 17px;
  width: 25%;
}

.tabcontent {
    color: darkslategrey;
    display: none;
    padding: 5%;
    height: 100%;
  }
.wrap {
    max-width: auto;
    max-height: auto;
    padding: 3%;
    background-color: wheat;
    border-radius: 25px;
    margin-bottom: 10px;
}

img {
    width:150px;
    height: 200px;
    float: left;
    margin: 20px;
    border-radius: 55%;
}

a {
    color:firebrick;
    background: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}

a:hover {
    background: rgba(56, 12, 12, 90%)
}

.tablink:hover {
    background-color: black;
}
/********************* Misc. Settings *******************/
.center {
    text-align: center;
}

.headingspace {
    background-color: transparent;
}

.space {
    padding: 2%;
}