/******* Global Settings *******/
body {
    background-image:   url('../images/background3.1.jpg'),
                        url('../images/background2.1.jpg'),
                        url('../images/background1.1.jpg');
    /* background-blend-mode: lighten; */
    padding: 30px;
    line-height: 1.5;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.bg-image {
    filter: blur(8px);
}

@font-face {
    font-family: "My Font";
    src: url(../Font/ZenOldMincho-Regular.ttf,ZenOldMicho-Bold.ttf);
}

a {
    color:firebrick;
    background: black;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
}

a:hover {
    background: rgba(56, 12, 12, 90%)
}

img {
    width:150px;
    height: 200px;
    float: left;
    margin: 20px;
    border-radius: 55%;
}

.wrap {
    margin: auto;
    max-width: 800px;
    width: 85%;
    padding: 50px 100px;
}

/******** Header ******/
header {
    background: rgb(103, 128, 57);
    padding: 20px;
}

/******* Site Information/Background ******/
.background {
    background: rgb(103, 128, 57);
    margin-top: 500px;
    margin-bottom: 500px;
}

/******* Services Settings *******/
.services {
    background: rgb(103, 128, 57);
    margin-top: 15px;
}

.service-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
}

/******* Bio *******/
.bio {
    background: rgb(103, 128, 57);
    margin-top: 500px;
    margin-bottom: 500px;
}

/******* Footer ******/
footer {
    background: rgb(103, 128, 57);
    clear: both;
}

/******** EXTRAS ********/
.inline {
    display: inline-block;
    margin: 25px;
    margin-bottom: 5px;
}

.center {
    padding-left: 15px;
}

.italics {
    font-style: italic;
}

.aline {
    text-align: center;
}